[Unit]
Description=Set brightness to max on boot
DefaultDependencies=no
After=systemd-udev-settle.service

[Service]
Type=oneshot
ExecStart=/usr/local/lib/early-boot.sh

[Install]
WantedBy=sysinit.target
